<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.kruanny.wordpuzzlegame"
    versionCode = "10"
    version     = "1.0.0" > 
 
<!-- versionCode is optional and Android only -->

  <name>Word puzzle Game</name>

  <description>
      Word puzzle Game.
  </description>

  <author href="https://phonegap.com" email="aibara.ichigo@gmail.com">
      aibaraichigo
  </author>
</widget>
